* {
    font-family: 'Fraunces', sans-serif;
    color: black;
}

body {
    margin: 0;
    background-color: #224870;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #e60d2d;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #ece3e3;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

button:active {
    background-color: #7986d1;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.col-1 {
    grid-column: span 4;
}

.display {
    grid-column: 1/ -1;
    padding: 16px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #ece5e5;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

#input {
    padding-bottom: 20px;
}

#input input {
    height: 45px;
    width: 99%;
    padding: 0px;
    border-width: 8px 4px 8px 0px;
    border-color: transparent;
    font-size: 28px;
    text-align: end;
    border-radius: 4px;
    color: rgb(10, 10, 10);
    background-color: #ece5e5;
}

boton-modal {
    padding: 40px;
    background-color: #fff;
}

.boton-modal label {
    padding: 10px 15px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal label:hover {
    background-color: #185E83;
}

#btn-modal {
    display: none;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked~.container-modal {
    display: flex;
}

.content-modal {
    width: 100%;
    max-width: 600px;
    height: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    color: #1c223a;
}

.content-modal h2 {
    margin-bottom: 15px;
}

.content-modal p {
    padding: 15px 0px;
    border-top: 1px solid #dbdbdbdb;
    border-bottom: 1px solid #dbdbdbdb;
}

.content-modal .btn-cerrar {
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 20px 20px;
    background-color: #a19697;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover {
    background-color: #185E83;
}

.content-modal .btn-cerrar button {
    padding: 7px 10px;
    background-color: #e9475d;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    border: none;
    margin-right: 6px;
}

.content-modal .btn-cerrar button:hover {
    background-color: #cc3958;
}


/*--------------------Tabla--------------------*/

table {
    background-color: white;
    text-align: center;
    border-collapse: collapse;
}

table tbody {
    height: 180px;
    overflow-y: auto;
}

table thead,
table tbody {
    display: block;
    width: 600px;
}

th {
    padding: 10px 110px 10px 110px;
}

td {
    padding: 10px 100px 10px 100px;
}

thead {
    background-color: #df2323;
    color: white;
}

@media only screen and (max-width: 790px) {
    #Calculator {
        width: 36vw;
    }
}